{% extends 'base/index.html' %}
{% load humanize %}

{% block content %}
<hr>
<div class=" container">
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." />
                    <!-- دکمه "Add to cart" زیر تصویر -->
                    <div class="d-flex justify-content-center mt-3">
                        <select class="form-select" style="width: 150px;" id="cart-qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                          <span style="margin: 8px; font-size: x-large;"> انتخاب تعداد محصول</span>
                        </div>
                    <div class="d-flex justify-content-center mt-3">      
                        <button class="btn btn-outline-dark" type="button" value="{{ product.id }}" id="addcart">
                            <i class="bi-cart-fill me-1"></i>
                            افزودن به سبد خرید
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ product.name }}</h1><hr>
                    <div class="fs-5 mb-5">
                        <strong><span class="text-decoration-line-through" style="font-size: large;">{{ product.price | intcomma}}  تومان</span></strong>
                    </div>
                    <p class="lead">{{ product.disription }}</p><br>
                </div>
            </div>
        </div>
    </section>
</div>





<!-- jquery for add to cart -->
<script>
	$(document).on('click', '#addcart', function(e){
		e.preventDefault();
		$.ajax({
			type:'POST',
			url:"{% url 'orders:cart-add' %}",
			data:{
				product_id:$('#addcart').val(),
                product_qty: $('#cart-qty option:selected').text(),
				csrfmiddlewaretoken:'{{ csrf_token }}',
				action:'post'
			}
		})
	})
</script>
{% endblock %}