{% load static %}
<!-- Start Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="{% url 'home:home' %}"><img src="{% static 'images/logo2.png' %}" alt="#"></a>
                        </div>
                        <p class="text">این یک پروژه نمونه هست</p>
                        <p class="call">زنگ نزن<span><a href="tel:123456789">+0123 456 789</a></span></p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">

                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">

                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>ارتباط با ما</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>تهران </li>
                                <li>info@eshop.com</li>
                                <li>09121234567</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="https://www.instagram.com/mili.hatamii?igsh=YXZpenNrdXBINTJz&utm_source=qr"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © 2024 <a href="http://www.wpthemesgrid.com" target="_blank"></a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->