{% extends 'base/index.html' %}

{% block content %}
<section id="contact-us" class="contact-us section">
    <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="container">
                        <div class="form-main">
                            <div class="title">
                                <h3>اطلاعات خود را وارد کنید</h3>
                            </div>
                            <form class="form" method="post" action="">
                                {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">ذخیره تغییرات</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}