{% extends 'base/index.html' %}

{% block content %}

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
    <div class="container">
            <div class="contact-head">
                <div class="row">
                    <div class="container">
                        <div class="form-main">
                            <div class="title">
                                <h4>Get in touch</h4>
                                <h3>Write us a message</h3>
                            </div>
                            <form class="form" method="post" action="{% url 'accounts:signup' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <label>your full name<span>*</span></label>
                                            <input name="full_name" type="text" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your email<span>*</span></label>
                                            <input name="email" type="email" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your phone number<span>*</span></label>
                                            <input name="phone_number" type="text" placeholder="" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your password<span>*</span></label>
                                            <input name="password1" type="password" placeholder="" required>
                                        </div>	
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <label>Your password(again)<span>*</span></label>
                                            <input name="password2" type="password" placeholder="" required>
                                        </div>	
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">register</button>
                                        </div>
                                    </div>
                            </form>
                                <div class="col-12">
                                    <div class="form-group button"><br>
                                        <button type="button" class="btn ">
                                            <a href="{% url 'accounts:login' %}">login</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--/ End Contact -->

<!-- Map Section -->
<div class="map-section">
    <div id="myMap"></div>
</div>
<!--/ End Map Section -->

{% endblock %}