{% extends 'base/index.html' %}
{% load humanize %}

{% block content %}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="{% url 'home:home' %}">خانه<i class="ti-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbs -->      
<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>محصول</th>
                            <th>نام</th>
                            <th class="text-center">قیمت</th>
                            <th class="text-center">تعداد</th>
                            <th class="text-center">قیمت کل</th> 
                            <th class="text-center"><i class="ti-trash remove-icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        <tr>
                            <td class="image" data-title="No"><img src="{{ item.product.image.url }}" alt="#"></td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name"><a href="#">{{ item.product }}</a></p></td>
                            <td class="price" data-title="Price"><span>{{ item.price | intcomma }}</span></td>
                            <td class="qty" data-title="Qty"> {{ item.qty }}</td>
                            <td class="total-amount" data-title="Total"><span>{{ item.total_price | intcomma }}</span></td>
                            <td class="action" data-title="Remove"><a href="{% url 'orders:cart-remove' item.product.id %}"><i class="ti-trash remove-icon"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Total Amount -->
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Enter Your Coupon">
                                        <button class="btn">اعمال</button>
                                    </form>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">کد تخفیف</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>قیمت بدون تخفیف<span>$330.00</span></li>
                                    <li>تخفیف<span>$20.00</span></li>
                                    <li>سود شما از این خرید<span>$20.00</span></li>
                                    <li class="last">مبلغ قابل پرداخت<span>{{ cart.total_price| intcomma }}</span></li>
                                </ul>
                                <div class="button5">
                                    <a href="#" class="btn">پرداخت</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ End Total Amount -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->           
{% endblock %}
        
